function valias () {
  IFS='=' read -r a c  <<< "$1"
  alias ${a}="echo -e '  alias '${a}$'=\''${c}$'\'';"${c}
}

valias lsl='ls -l'
valias lsa='ls -A'
valias lsla='ls -lA'

if command -v dircolors 2>&1 >/dev/null || command -v gdircolors 2>&1 >/dev/null; then
  valias ls='ls --color=auto'
  valias dir='dir --color=auto'
  valias vdir='vdir --color=auto'

  valias grep='grep --color=auto'
  valias fgrep='fgrep --color=auto'
  valias egrep='egrep --color=auto'
fi

valias gp='guix package'
valias gps='guix package -s'
valias gpi='guix package -i'
